USE [master]
GO
/****** Object:  Database [Kitap_Takip_Sistemi]    Script Date: 7.03.2024 19:10:58 ******/
CREATE DATABASE [Kitap_Takip_Sistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kitap_Takip_Sistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Kitap_Takip_Sistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kitap_Takip_Sistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Kitap_Takip_Sistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kitap_Takip_Sistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kitap_Takip_Sistemi]
GO
/****** Object:  Table [dbo].[Kitap_Bilgileri]    Script Date: 7.03.2024 19:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitap_Bilgileri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[isbn] [nvarchar](50) NULL,
	[adi] [nvarchar](50) NULL,
	[yazar] [nvarchar](50) NULL,
	[yayinevi] [nvarchar](50) NULL,
	[basimYili] [nvarchar](4) NULL,
	[sayfaSayisi] [nvarchar](4) NULL,
	[tur] [nvarchar](50) NULL,
	[konu] [nvarchar](max) NULL,
	[fiyat] [nvarchar](4) NULL,
	[resimKonumu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Kitap_Bilgileri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
